

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body, html {
  width: 100%;
  overflow-x:hidden;
}
@keyframes fadein {
  from { opacity: 0;  transform: translateX(-100vw); }
  to   { opacity: 1;  transform: translateX(0vw); }
}
@keyframes moveup {
  from { transform: translateY(100px); }
  to   { transform: translateY(0px); }
}

body{
  /* background: radial-gradient(circle, rgba(0,212,255,1) 3%, rgba(26,125,200,1) 39%, rgba(0,39,96,1) 83%); */
  background-size: cover;
  background-position: top center;
  background-image: url('../img/bg_site.jpg');
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 20px;
  padding-top:30px;
  padding-left: 0px;
  padding-right: 0px;
  color:#f2f2f2;
}
::-moz-selection {
  background: #fcac72;   /* WebKit/Blink Browsers */
}
::selection {
  background: #fcac72;   /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fcac72;    /* Gecko Browsers */
}
iframe{
  width:80%;
  height:500px;
}
header{
  padding-top:50px;
  padding-bottom:50px;
}
 h1 {
  display: inline-block;
  color: #57a1e8;
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
  margin-bottom:50px;
}
h1 small{
  font-weight: normal;
  color: #57a1e8;
}
h3{
  font-size: 28.5px;
}
h4 {
  font-weight: normal;
  font-size: 26.5px;
  line-height: 40px;
}
a {
  font-size: 18px;
  color:#a3a3a3;
}
p {
  font-size: 22px;
  line-height: 32px;
}
ul li {
  list-style: none;
  font-size: 16px;
}
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; width:100%; margin-top: 25px;}
#mc_embed_signup input.email {
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 20px;
  border: 1px solid #8ecaff; 
  border-radius: 8px;
  color: #343434;
  background-color: #d4ebffdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 10px 0.4em;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
#mc_embed_signup .button {
  font-size: 20px;
  border: none;
  border-radius: 10px;
  letter-spacing: .03em;
  color: #fff;
  background-color: #33a4ea;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  line-height: 32px;
  padding: 0 18px;
  font-weight: 600;
  box-shadow: 0px 5px 10px #0b0b0b78;
  background-color: #00a2ff;
}
.badge-large{
  padding-top: 35px; 
}
.font-light{
  font-weight: lighter;
}
.app-icon{
  display: none;
}
.app-logo{
  border-radius: 20px;
  margin-right: 20px;
  height: 90px;
}
.iphone {
  opacity: 0;
  position: relative;
  padding-bottom:50px;
  padding-bottom:200px;
  animation: 1s ease-out 2s fadein;
  animation-fill-mode: forwards;
}
.airpods {
  bottom: 2%;
  height: 23%;
  position: absolute;
  right: -28%;
  max-height: 160px;
  min-height: 30px;
}
.brand-desc {
  position:relative;
  animation: 1s linear 1s moveup;
  animation-fill-mode: forwards;
  transform: translateY(100px);
}
/*final-state */
.hero {
  position: relative;
}
.iphone-container{
  position: relative;
  width: 25vw;
  margin: 0px auto;
  max-width: 450px;
  min-width: 300px;
}
.iphone-container .hero{
  width: 100%;
}
.iphone-container #app-demo{
  width: 82%;
  position: absolute;
  top: 6%;
  left: 8.8%;
  background-color: #1a1a1a;
  height: 88%;
}
.iphone-container .intro-android {
  position: absolute;
  top: 6%;
  width: 75%;
  right: -61%;
}
.iphone-container .intro-side-iphone {
  position: absolute;
  top: 7%;
  width: 65%;
  left: -52%;
}
.download-badge{
  text-align:right;
}
.mobile-visible{
  display: none;
}
#headline{
	font-size:30px;
	color:white;
}
.note{
  font-size: 50px;
}
.padding-25{
  padding-top:25px;
}
.background-wrapper{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #418fd8;
  color: #f2f2f2;
}
.press-background-wrapper{
  background-color:#006EB2;
}

.features-wrapper li {
  font-size: 20px;
  list-style: none;
  margin-top: 20px;
  line-height: 43px;
}
.features-wrapper li span {
  background-color: #ffffff35;
  padding: 10px 10px;
  border-left: 3px solid;
}
.first-wrapper{
  background-color: #1313132e;
  margin-top: 50px;
  margin-bottom: 0px;
}

blockquote small {
  font-weight: bold;
  font-size: 16px;
}
blockquote a {
  font-size: 18px;
  color:#f2f2f2;
}
blockquote small {
  color:#eee;
}
blockquote {
  padding: 10px 0px 10px 15px;
  margin: 0 0 20px;
  border-left: 2px solid #eee;
  /* border: 1px solid white; */
}
.hero-link  small {

}
.hero-link  a {
  font-size: 22px;
  font-weight: bold;
}
.hero-link{
  padding:20px;
  background-color: rgba(226, 226, 226, 0.31);
  border-left: 4px solid #eee;
}
footer {
  color: #9fc7e0;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #006EB2;
  font-size: 20px; 
}
.more-menu{
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  display: inline-block;
  font-size: 35px;
  line-height: 10px;
  top: 7px;
  left: 13px;
}
.social-link img {
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 0.8;
  margin: 20px;
}
#callToAction{
  display:inline-block;
  line-height:20px;
  margin-top:9px;
}
.fb_iframe_widget {
	top:2px;
}
/* mobile targeting rules */
@media only screen and (max-width: 767px){
  header{
    padding-top:0px;
    padding-bottom:20px;
  }
	body {
		font-family:'Lato', sans-serif ;
    padding-top:30px;
    background-size: auto 1000px;
    background-position: top;
    background-repeat: no-repeat;
  }
  h1{
    margin-bottom: 0px;
  }
  #mc_embed_signup input.email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ff0057;
    opacity: 0.7; /* Firefox */
  }
  #mc_embed_signup input.email {
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 2px solid #ff0057;
    color: #343434;
    background-color: #ffffffa8;
  }
  #mc_embed_signup .button {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #ff0057;
  }
	h2,h3,h5,h4 {
		font-weight:600;
	}
  h1{
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
  }
  h1 small{
    font-size:14px;
  }
  .badge-large{
    padding: 20px 0px;  
  }
  .app-icon{
  	max-width:60px;
    border-radius:30px;
    margin-right: 10px;
  }
  .app-logo {
    height: 40px;
    position: relative;
    top: -8px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .mobile-hidden{
    display:none;
  }
  .mobile-visible{
    display:initial;
  }
  .container{
    margin-left:20px;
    margin-right:20px;
  }
  .note{
    font-size: 25px;
  }
	.press a {
		font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	}
	.social-btns{
		display:none;
	}
  .iphone-container{
    width: 60vw;
    min-width: 190px;
  }
	.iphone{
		text-align: center;
    padding:20px 0px;
    animation: none;
    opacity: 1;
  }
  .brand-desc {
    animation: none;
    transform: none;
  }
  #scroll-badge{
    position: fixed;
    bottom: -25px;
    width: 100vw;
    left: 0px;
    padding: 0px 25vw;
    box-sizing: border-box;
    background: #418ed8;
    box-shadow: 0 0 25px 25px #418ed8;
  }
  .coming-soon-title {
    opacity: 0;
  }
  .download-badge{
    text-align:center;
  }
  .brand-desc{
    padding-bottom: 0px;
  }
  .first-wrapper {
    background-color: #2b6fae;
  }
  footer{
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px){
	html{
	  height: 2100px;
	}

}
@media only screen and (min-width: 768px) and (min-height: 880px){
	html, body{
		overflow: auto;
	}

}
